@model MiniaturesGallery.Models.Comment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Comment"]
    </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
