@model MiniaturesGallery.Models.Post
@{
    ViewData["Title"] = "IndexAngular";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using MiniaturesGallery.HelpClasses
    @using MiniaturesGallery.Extensions
    @using MiniaturesGallery.Controllers
}

<script>
    var app = angular.module('IndexApp', []);
    app.controller('IndexController', function ($scope, $http) 
    {
        $scope.GetAllData = function(){
            $http({
                method: 'GET',
                url: '@Url.Action(nameof(PostsAngularController.Get),typeof(PostsAngularController).ControllerName())',
                headers: {
                     'Content-type': 'application/json'
                 }
            }).then(function(response) {
                $scope.modelData = JSON.parse(response.data);
            }, function (error){
                console.log(error);
            })
        };

        $scope.CreatePost = function(){
            $http({
                method: 'POST',
                url: '@Url.Action(nameof(PostsAngularController.Add),typeof(PostsAngularController).ControllerName())',
                data: $scope.post
            }).then(function (response) {
                $scope.modelData = JSON.parse(response.data);
                $scope.message = "Post added Successfully";

                var modal = bootstrap.Modal.getOrCreateInstance('#CreatePost');
                modal.hide();
            }, function (error) {
                console.log(error);
            });
        }

        $scope.UpdatePost = function () {
            $http({
                method: 'POST',
                url: '@Url.Action(nameof(PostsAngularController.Update),typeof(PostsAngularController).ControllerName())',
                data: $scope.post
            }).then(function (response) {
                $scope.modelData = JSON.parse(response.data);
                $scope.message = "Post updated Successfully";

                var modal = bootstrap.Modal.getOrCreateInstance('#UpdatePost');
                modal.hide();
            }, function (error) {
                console.log(error);
            });
        }

        $scope.DeletePost = function () {
            $http({
                method: 'POST',
                url: '@Url.Action(nameof(PostsAngularController.Remove),typeof(PostsAngularController).ControllerName())',
                data: $scope.post
            }).then(function (response) {
                $scope.modelData = JSON.parse(response.data);
                $scope.messageDanger = "Post deleted Successfully";

                var modal = bootstrap.Modal.getOrCreateInstance('#DeletePost');
                modal.hide();
            }, function (error) {
                console.log(error);
            });
        }

        $scope.DetailPost = function (entity) {
            $scope.post = entity;

            $http({
                method: 'GET',
                url: '@Url.Action(nameof(PostsAngularController.Info),typeof(PostsAngularController).ControllerName(),new{ id = ""})' + '/' + $scope.post.ID,
            }).then(function (response) {
                $scope.post = JSON.parse(response.data);

                $scope.rating5 = parseInt($scope.post.Rating) == 5 && 1 || 0;
                $scope.rating4 = parseInt($scope.post.Rating) == 4 && 1 || 0;
                $scope.rating3 = parseInt($scope.post.Rating) == 3 && 1 || 0;
                $scope.rating2 = parseInt($scope.post.Rating) == 2 && 1 || 0;
                $scope.rating1 = parseInt($scope.post.Rating) == 1 && 1 || 0;

                var modal = bootstrap.Modal.getOrCreateInstance('#DetailPost');
                modal.show();
            }, function (error) {
                console.log(error);
            });
        }

        $scope.selectPost = function (entity) {
            $scope.post = entity;
        }

        $scope.clearPost = function(){
            $scope.post = null;
        }
    })
</script>

<div ng-app="IndexApp" ng-controller="IndexController" ng-init="GetAllData()">
    <h1>Posts</h1>

    <p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreatePost" ng-click="clearPost()">Create New</button>
    </p>
    <div class="alert alert-success" ng-if="message">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{message}}
    </div>
    <div class="alert alert-danger" ng-if="messageDanger">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{messageDanger}}
    </div>
    <table class="table table-sm table-bordered table-hover table-striped table-dark">
        <thead class="sticky">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CrateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entity in modelData">
                <td>
                    {{entity.ID}}
                </td>
                <td>
                    {{entity.Topic}}
                </td>
                <td>
                    {{entity.Text}}
                </td>
                <td>
                    {{entity.CrateDate | date:'dd.MM.yyyy H:mm:ss'}}
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#UpdatePost" ng-click="selectPost(entity)">Edit</button>
                        <button class="btn btn-primary btn-sm" ng-click="DetailPost(entity)">Details</button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#DeletePost" ng-click="selectPost(entity)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="CreatePost" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="Post" data-ng-submit="CreatePost()">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Post</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="@Model.Topic" class="control-label"></label>
                            <input type="text" class="form-control" ng-model="post.Topic" required="required" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Text" class="control-label"></label>
                            <textarea type="text" class="form-control" rows="4" ng-model="post.Text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="UpdatePost" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="Post" data-ng-submit="UpdatePost()">
                    <div class="modal-header">
                        <h4 class="modal-title">Update Post</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="@Model.ID" class="control-label"></label>
                            <input class="form-control" ng-model="post.ID" required="required" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Topic" class="control-label"></label>
                            <input class="form-control" ng-model="post.Topic" required="required" />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Text" class="control-label"></label>
                            <textarea class="form-control" rows="4" ng-model="post.Text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DeletePost" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="Post" data-ng-submit="DeletePost()">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Post</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label">Are you sure?</label>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.ID" class="control-label"></label>
                            <input class="form-control" ng-model="post.ID" required="required" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Topic" class="control-label"></label>
                            <input class="form-control" ng-model="post.Topic" required="required" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Text" class="control-label"></label>
                            <textarea class="form-control" rows="4" ng-model="post.Text" readonly></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DetailPost" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Detail Post</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center align-items-center">
                        <h1 style="display: inline;">{{post.Topic}}</h1>
                    </div>
                    <hr />
                    <div class="row">
                        <div id="carouselImages" class="carousel slide carousel-fade carousel">
                            <div class="carousel-inner">
                                <div ng-repeat="att in post.Attachments">
                                    <div class="carousel-item active d-flex align-items-center justify-content-center" ng-if="$first" style="height: 500px">
                                        <img src="~/Files/{{att.FullFileName}}" alt="{{att.FileName}}" class="d-block w-80" style="max-height: 500px">
                                    </div>

                                    <div class="carousel-item d-flex align-items-center justify-content-center" ng-if="!$first" style="height: 500px">
                                        <img src="~/Files/{{att.FullFileName}}" alt="{{att.FileName}}" class="d-block w-80" style="max-height: 500px">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button ng-repeat="att in post.Attachments track by $index" type="button" data-bs-target="#carouselImages" data-bs-slide-to="{{$index}}" ng-if="$first" class="active" aria-current="true">
                                    <img src="~/Files/{{att.FullFileName}}" alt="{{att.FileName}}" class="d-block" style="max-height: 50px; max-width: 50px">
                                </button>

                                <button ng-repeat="att in post.Attachments track by $index" type="button" data-bs-target="#carouselImages" data-bs-slide-to="{{$index}}" ng-if="!$first">
                                    <img src="~/Files/{{att.FullFileName}}" alt="{{att.FileName}}" class="d-block" style="max-height: 50px; max-width: 50px">
                                </button>
                            </div>
                            <button class="carousel-control-prev text-white" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next text-white" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                    <div class="text-center">
                        Rating: {{post.Rating | number : 2}} ({{post.NoOfRates}})
                    </div>
                    <div class="rating justify-content-center">
                        <input type="radio" name="rating" value="5" id="5" ng-checked="rating5">
                        <label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4" ng-checked="rating4">
                        <label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3" ng-checked="rating3">
                        <label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2" ng-checked="rating2">
                        <label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1" ng-checked="rating1">
                        <label for="1">☆</label>
                    </div>
                    <hr />

                    <h6>{{post.User.UserName}}</h6>
                    <h6>{{post.CrateDate | date:'dd.MM.yyyy H:mm:ss'}}</h6>
                    <h4 style="white-space: pre-line">{{post.Text}}</h4>

                    <hr />
                    <div class="col-md-12">
                        <h5>Comments:</h5>
                        <div ng-repeat="item in post.Coments">
                            <div class="card border">
                                <div class="card-header">
                                    <h5>
                                        {{item.User.UserName != null && item.User.UserName || 'Guest'}}
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{item.Body}}</p>
                                </div>
                            </div>
                            {{item.CrateDate | date:'dd.MM.yyyy H:mm:ss'}}
                            <div class="ms-5" ng-if="item.Comments && item.Comments.length > 0">
                                <div ng-repeat="item in item.Comments">
                                    <div class="card border">
                                        <div class="card-header">
                                            <h5>
                                                {{item.User.UserName != null && item.User.UserName || 'Guest'}}
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text">{{item.Body}}</p>
                                        </div>
                                    </div>
                                    {{item.CrateDate | date:'dd.MM.yyyy H:mm:ss'}}
                                    <div ng-switch on="item.Comments.length > 0">
                                        <div ng-switch-when="true">
                                            <div ng-include="'../SubComment.html'"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (ViewBag.OrderByFilter != null)
{
    <script>
        $("[name='OrderByFilter']")[0].value = '@Html.Raw(ViewBag.OrderByFilter)';
    </script>
}
